# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Dotenv file
.env

# Node modules
node_modules/

# generated route proposals, regenerate with `yarn registry:routes`
tools/proposals.json
