name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

env:
  FOUNDRY_PROFILE: ci

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly
      - name: Run forge fmt
        run: forge fmt --check
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Create .env file
        uses: SpicyPizza/create-envfile@v1.3.0
        with:
          envkey_MNEMONIC: ${{ secrets.MNEMONIC }}
          envkey_ALCHEMEY_KEY: ${{ secrets.ALCHEMEY_KEY }}
          envkey_ETHERSCAN_API: ${{ secrets.ETHERSCAN_API }}
          file_name: .env
          fail_on_empty: true

      - name: Run CASH deployment script
        run:

      - name: Run tests
        run: forge test --gas-report

      - name: Run Coverage
        run: forge coverage --report lcov

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: .
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          files: ./lcov.info
          name: harvest-ul-polygon-coverage
          verbose: true
